.filters {
  background: #d2b8f0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.filters li {
  display: inline-block;
  max-width: 100px;
  padding: 12px;
  margin-bottom: 10px;
}

.filters li label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.filters li input,
.filters li select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f1f3f5;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.filters li input:focus,
.filters li select:focus {
  border-color: #2cd5ca;
  background-color: #eafafa;
  outline: none;
}
.widget {
  position: relative;
  width: 98%;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  height: 625px;
}
.widget .cover {
  height: 330px;
  overflow: hidden;
}
.widget .cover img {
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}
.widget .photo {
  position: absolute;
  top: 5px;
  left: 47%;
  width: 271px;
  height: 271px;
  margin: 0 0 0 -75px; /* Ajustamos para centrarla */
  border: 5px solid #fff;
  border-radius: 50%; /* Mantener la forma circular */
}

.widget h1,
.widget h2,
.widget h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

#widget_content {
  display: flex;
}

.widget h1 {
  margin: 0 0 5px;
  font-size: 40px;
  font-weight: bold;
  color: #222;
}

.widget h2 {
  margin-top: 5px;
  font-size: 22px;
  color: #555;
}

.widget h3 {
  margin-top: 5px;
  font-size: 17px;
  color: #777;
}

.widget ul {
  position: absolute;
  top: 20px;
  padding: 0;
  background: #dd98cc;
}
.widget ul.position-left {
  left: -26px;
}
.widget ul.position-right {
  right: -27px;
}
.widget ul li {
  list-style: none;
}
.widget ul li a {
  display: block;
  padding: 5px 6px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #aa388d;
  transition: background-color 0.3s;
  font-size: 25px;
}
.widget ul li:hover > a {
  background-color: #d987e4;
}
.widget ul li:first-child > a {
  border-radius: 0 3px 0 0;
}
.widget ul li:last-child > a {
  border: none;
  border-radius: 0 0 3px 0;
}
